<aside class="p-3 mb-3 bg-dark text-white rounded">
	<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis voluptate minima, doloremque dignissimos doloribus beatae.</p>
	<p class="mb-0">
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo repudiandae veniam eius.
	</p>
</aside>
<p class="p-3">Lorem ipsum,
	<strong>dolor</strong>
	sit amet consectetur adipisicing elit. Non
	<strong>possimus</strong>, placeat provident laboriosam quia debitis.</p>
<a href="#" class="btn btn-warning btn-lg">Comentarios</a>
